* {
padding: 0;
margin: 0;
 }

body {
  background: gray;
}
.container{
  display:flex;
  height: 800px;
  width: 800px;
  flex-direction: column;
  
}
.column {
  display: flex;
  flex: 1;
}
.box {
  background: #cececc;
  flex: 1 0 auto;
}
.boxhovered
{
  background: #5d5e5b;
}
